.applications__wrapper {
  background-image: url("../img/photo/mobile/back-mobile.jpg");
  /*width: 320px;
  min-height: 462px;
  background-repeat: no-repeat;*/
}

/*.application__mabile {
  position: absolute;
  top: 362px;
}

.application__mobile-photo {
  position: absolute;
  bottom: 364px;
  left: 104px;
}*/

.applications__title {
  width: 280px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
}

.applications__intro {
  background-color: #1d2631;
}

.applications__link {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}

.applications__list {
  list-style: none;
  display: flex;
}

.applications__availability-os {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
