.copyright__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  display: block;
}
