.effect {
  background-color: @base-bg-color;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
    padding-left: 131px;
  }
}

.effect__inform {
  display: none;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    display: grid;
    width: 660px;
    grid-template-columns: 238px 310px;
    grid-column-gap: 72px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 298px 534px;
    width: 1200px;
    grid-column-gap: 71px;
  }
}

.effect__clock {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    background-image: url("../img/photo/tablet/timer.svg");
    background-repeat: no-repeat;
    width: 238px;
    height: 276px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/photo/desktop/timer.svg");
    background-repeat: no-repeat;
    width: 298px;
    height: 345px;
  }
}

.effect__24 {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 163px;
    color: #d22856;
    margin: 0;
    padding-top: 73px;
    padding-left: 60px;
  }

  @media (min-width: @desktop-width) {
    font-size: 120px;
    padding-top: 110px;
    padding-left: 80px;
  }
}

.effect__title {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;
  }
}

.effect__text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
