.links-list__link-apple {
  display: block;
  padding-left: 38px;
  padding-top: 32px;
}

.links-list__link-android {
  display: block;
  padding-left: 35px;
  padding-top: 38px;
}

.links-list__link-microsoft {
  display: block;
  padding-left: 35px;
  padding-top: 44px;
}
