.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__list a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  display: block;
}
