.page-footer {
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 80px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.page-footer__logo-mobile {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-footer__link-pink {
  display: block;
}

.page-footer__social {
  list-style: none;
  display: flex;
}

.page-footer__link {
  display: block;
}

.page-footer__copyright {
  display: flex;
}
