.page-footer__social {
  list-style: none;
}

.social__link,
.copyright__link {
  display: block;
}

.copyright__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}
