.page-header {
  z-index: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.page-header__container {
  background-color: transparent;

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 1200px;
    padding-left: 131px;
    padding-right: 130px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.page-header__container-color {
  background-color: #283645;
}

.page-header__logo {
  display: block;
  cursor: pointer;
  margin-left: 20px;
  padding-top: 23px;
  padding-bottom: 22px;
  width: 74px;

  @media (min-width: @tablet-width) {
    width: 145px;
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 173px;
    margin-left: 0;
  }
}

.page-header__logo-mobile {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
