.price {
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.price__none {
  background-color: transparent;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.price__base {
  background-color: #283645;
}

.price__standart {
  background-color: #283645;
}

.price__unlim {
  background-color: #283645;
}

.price__cell-1-1 {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.price__cell-2-1 {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.price__cell-3-1 {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.price__type {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price__cost {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.price__hit {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  background-color: #d22856;
}

.price__line {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price__visible {
  display: table;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__toggles {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
