.price {
  width: 100%;
  background-image: url("../img/photo/mobile/grey-background-2.png");
  background-size: cover;
  margin-top: 6px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/photo/tablet/grey-background-2.png");
    margin-top: -5px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/photo/desktop/grey-background-2.png");
  }
}

.price__container {
  @media (min-width: @tablet-width) {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.price__wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.price__list {
  border-collapse: collapse;
  margin-top: 114px;
  width: 828px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 620px;
    margin-top: 99px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin-top: 144px;
    margin-bottom: 96px;
  }
}

.price__none {
  background-color: transparent;
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.price__base {
  background-color: #283645;
  border-radius: 1px 0 0 0;
  position: relative;
}

.price__standart {
  background-color: #283645;
  position: relative;
  overflow: hidden;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.price__standart::before {
  content: "";
  background-image: url("../img/logo/hit-ribbon.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 74px;
  height: 74px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/logo/hit-ribbon-tablet.svg");
    width: 61px;
    height: 61px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/logo/hit-ribbon.svg");
    width: 74px;
    height: 74px;
    top: 0;
  }
}

.price__unlim {
  background-color: #283645;
  border-radius: 0 1px 0 0;
  position: relative;
}

.price__cell-1-1 {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
    border-radius: 1px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.price__cell-2-1 {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.price__cell-3-1 {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
    border-radius: 0 0 0 1px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.price__cell-3-4 {
  border-radius: 0 0 1px 0;
}

.price__cell-1-3 {
  padding-bottom: 7px;

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.price__cell-2-3 {
  padding-top: 4px;
  padding-bottom: 4px;

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.price__cell-3-3 {
  padding-bottom: 5px;
  padding-top: 4px;

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.price__invisible {
  @media (min-width: @tablet-width) {
    padding-left: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 21px;
  }
}

.price__type {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  padding-left: 95px;
  margin-bottom: 44px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price__cost {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  position: absolute;
  left: 101px;
  bottom: 29px;

  @media (min-width: @tablet-width) {
    left: 40px;
    bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    left: 68px;
    bottom: 19px;
  }
}

.price__hit {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  transform: rotate(-45deg);
  margin: 0;
  position: absolute;
  left: -50px;
  top: 15px;
  width: 150px;

  @media (min-width: @tablet-width) {
    left: -54px;
    top: 10px;
  }

  @media (min-width: @desktop-width) {
    left: -46px;
    top: 15px;
  }
}

.price__line {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price__visible {
  padding-left: 19px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__toggles {
  display: block;
  text-align: center;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__no {
  position: absolute;
  top: 16px;
  right: 18px;

  @media (min-width: @tablet-width) {
    top: 9px;
    right: 62px;
  }

  @media (min-width: @desktop-width) {
    top: 16px;
    right: 102px;
  }
}

.price__yes {
  position: absolute;
  top: 18px;
  right: 16px;

  @media (min-width: @tablet-width) {
    top: 12px;
    right: 61px;
  }

  @media (min-width: @desktop-width) {
    top: 19px;
    right: 100px;
  }
}

.price__base .price__type {
  @media (min-width: @tablet-width) {
    padding-left: 57px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 94px;
    margin-bottom: 34px;
  }
}

.price__standart .price__type {
  @media (min-width: @tablet-width) {
    padding-left: 34px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 70px;
    margin-bottom: 34px;
  }
}

.price__unlim .price__type {
  @media (min-width: @tablet-width) {
    padding-left: 43px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 81px;
    margin-bottom: 34px;
  }
}
