.reviews__container {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    margin-top: 71px;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.reviews__list {
  display: block;
  overflow: hidden;

  @media (min-width: @desktop-width) {
    width: 688px;
  }
}

.reviews__prew {
  border: none;
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0;
    margin-top: 17px;
  }
}

.reviews__prew-icon {
  fill: #283645;
  opacity: 0.3;
}

.reviews__prew-icon:hover {
  opacity: 0.6;
}

.reviews__prew-icon:active {
  opacity: 0.1;
}

.reviews__next {
  border: none;
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0;
    margin-top: 17px;
  }
}

.reviews__next-icon {
  fill: #283645;
  opacity: 0.3;
}

.reviews__next-icon:hover {
  opacity: 0.6;
}

.reviews__next-icon:active {
  opacity: 0.1;
}

.reviews__list-container {
  padding: 0;
  display: flex;
  text-align: center;
  width: 840px;
  margin-top: 41px;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    width: 1860px;
    margin-top: 77px;
  }

  @media (min-width: @desktop-width) {
    width: 2064px;
    margin-top: 95px;
  }
}

.reviews__item {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-width) {
    width: 688px;
  }
}

.reviews__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    position: relative;
  }
}

.reviews__text::before {
  @media (min-width: @desktop-width) {
    content: "";
    background-image: url("../img/logo/quotes.svg");
    position: absolute;
    width: 79px;
    height: 63px;
    bottom: 139px;
    left: 305px;
  }
}

.reviews__author {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-top: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__profission {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    margin-bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    margin-top: 2px;
  }
}

.reviews__toggles {
  display: block;
  margin-left: -8px;
  text-align: center;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
