.toggle__scroll1 {
  border: none;
  background-color: transparent;
  top: -9px;
  position: relative;
}

.toggle__scroll3 {
  display: none;
  border: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: inline;
    background-color: transparent;
    top: -9px;
    position: relative;
  }
}

.toggle__scroll2 {
  display: none;
  border: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: inline;
    background-color: transparent;
    top: -9px;
    position: relative;
  }
}
